/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 oct. 2017, 18:55:57
    Author     : romain michau.Vincent Jacob- Alexandre casara- Fabrice Lcqville
*/
.case>*{
    width: 63px;
    height: 63px;
}
.main{
    cursor: pointer;
}
.vide {
      padding-top:17px;
      padding-bottom:17px;
      padding-left: 21px;
      padding-right: 21px;
      
}

.row{
    width: 70%;
    margin: auto;
}

.card-image{
    height: 225px;
    overflow-y: hidden;
}

td, tr{
    padding: 0 !important;
    border: 0 !important;
}

table{
    max-width: 900px;
    border: 0 !important;
    margin-bottom: 0 !important;
}

.arrow{
    width: 60px;
    height: 60px;
    background-image: url('../img/up_arrow.png');
    background-position: center; 
}
.sword{
    width: 60px;
    height: 60px;
    background-image: url('../img/sword_arrow.png');
    background-position: center; 
}
.rotate-180{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate-270{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
.rotate-90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg) ;
    
}
.centered-text{
    text-align: center;
}
.flip{
    transform: scaleX(-1);
}
.teet{
    background-color: grey;
    min-width: 220px !important;
}
.height-60px{
    height: 60px;
}
