/* *************************************************************************
GENERAL
************************************************************************* */

.wrap {
    width: 90%;
    margin: 0 auto;
}

/* *************************************************************************
HEADER
************************************************************************* */

.top-bar {
    padding: 25px 0;
}
.top-bar, .top-bar .menu {
    background-color: #333;
}

.top-bar a {
    color: rgba(255, 255, 255, 0.9);
}

#site-title {
    font-size: 2.5em;
}
#site-title:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

/* **************************************
OUT GAME
*************************************** */

#login-corner .menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#login-corner {
    width: 15%;
}

/* **************************************
IN GAME
*************************************** */

#logout-img {
    height: 25px;
    padding-left: 20px;
}

#ingame-corner {
    width: 30%;
}
#player-info {
    color: rgba(255, 255, 255, 0.8);
    padding-right: 25px;
}
#players-access {
    padding-left: 25px;
}
#players-access button {
    color: rgba(255, 255, 255, 0.8);
    background-color: #333;
}
#players-access button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
#player-img {
    width: 40px;
}
#player-img:hover {
    background-color: rgba(255, 255, 255, 0.05);
}


/* *************************************************************************
CENTER BLOC
************************************************************************* */

#center-block {
    min-height: 100vh;
    background-image: url('../img/layout/vintage-concrete.png');
}

/* *************************************************************************
NAVIGATION
************************************************************************* */
 
nav {
    background-color: #591310;
    padding-top: 50px;
    border-right: 3px solid #591310;
}
nav a {
    width: 100%;
}
nav span {
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
    color: rgba(255, 255, 255, 0.8);
}
nav i {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.8);;
}
.menu .is-active > a, .is-active span, .is-active i {
    background-image: url('../img/layout/vintage-concrete.png');
    color: rgba(0, 0, 0, 0.9);
}



/* *************************************************************************
CONTENU - PAGE XXX
************************************************************************* */

/* *************************************************************************
FOOTER
************************************************************************* */

footer {
    padding: 60px 20px 30px 20px;
    background-color: #333;
    color: rgba(255, 255, 255, 0.7);
}
footer .cell {
    padding: 0 40px;
}
footer p, footer li {
    font-size: 0.9em;
}
footer hr {
       border-color: rgba(255, 255, 255, 0.2); 
}
footer a {
    color: rgba(255, 255, 255, 0.7);
}

/* *************************************************************************
TO MOVE
************************************************************************* */
.case>*{
    width: 63px;
    height: 63px;
}

.row{
    width: 80%;
    margin: auto;
}

.card-image{
    height: 225px;
    overflow-y: hidden;
}

td, tr{
    padding: 0 !important;
    border: 0 !important;
}

table{
    max-width: 900px;
    min-width: 400px;
    border: 0 !important;
    margin-bottom: 0 !important;
}

.arrow, .sword{
    width: 60px;
    height: 60px;
    background-position: center; 
}
.arrow{
    background-image: url('../img/up_arrow.png');
}
.sword{
    background-image: url('../img/sword_arrow.png');
}
.rotate-180{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate-270{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
.rotate-90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg) ;
    
}
.centered-text{
    text-align: center;
}
.flip{
    transform: scaleX(-1);
}
.control-panel{
    background-color: grey;
    min-width: 220px !important;
    
}

.main{
    background-color: #d3d3d3;    
}
.sight-grid{
    margin: 5em 0 5em 0;
}