/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 oct. 2017, 18:55:57
    Author     : romain michau.Vincent Jacob- Alexandre casara- Fabrice Lcqville
*/

#navigation{
    font-size: 50px;    
}

footer{
    font-size:10px;
}
.damier{
    display: inline;
}
.case{
      border: 1px solid black;
}

.case_fighter{
      border: 1px solid black ;
    
}


.vide {
      padding-top:17px;
      padding-bottom:17px;
      padding-left: 21px;
      padding-right: 21px;
      
}

.row{
    width: 70%;
    margin: auto;
}