/* *************************************************************************
GENERAL
************************************************************************* */

.wrap {
    width: 90%;
    margin: 0 auto;
}

/* *************************************************************************
HEADER
************************************************************************* */

/* **************************************
OUT GAME
*************************************** */
.top-bar, .top-bar .menu {
    background-color: #333;
}
.top-bar a {
    color: rgba(255, 255, 255, 0.9);
}
#site-title {
    font-size: 2em;
}
#login-corner .menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#login-corner {
    width: 15%;
}

/* **************************************
IN GAME
*************************************** */

#logout-img {
    height: 25px;
    padding-left: 15px;
}

#ingame-corner {
    width: 30%;
}
#player-info {
    color: rgba(255, 255, 255, 0.8);
    padding-right: 25px;
}
#players-access {
    padding-left: 25px;
}
#players-access button {
    color: rgba(255, 255, 255, 0.8);
    background-color: #333;
}
#players-access button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
#player-img {
    width: 35px;
}


/* *************************************************************************
CENTER BLOC
************************************************************************* */

#center-block {
    min-height: 100vh;
    background-image: url('../img/layout/vintage-concrete.png');
}

/* *************************************************************************
NAVIGATION
************************************************************************* */

/* *************************************************************************
CONTENU - PAGE XXX
************************************************************************* */

/* *************************************************************************
FOOTER
************************************************************************* */

footer {
    padding: 60px 20px 30px 20px;
    background-color: #333;
    color: rgba(255, 255, 255, 0.7);
}
footer .cell {
    padding: 0 40px;
}
footer p, footer li {
    font-size: 0.9em;
}
footer hr {
       border-color: rgba(255, 255, 255, 0.2); 
}
footer a {
    color: rgba(255, 255, 255, 0.7);
}

.case>*{
    width: 63px;
    height: 63px;
}

.row{
    width: 80%;
    margin: auto;
}

.card-image{
    height: 225px;
    overflow-y: hidden;
}

td, tr{
    padding: 0 !important;
    border: 0 !important;
}

table{
    max-width: 900px;
    min-width: 400px;
    border: 0 !important;
    margin-bottom: 0 !important;
}

.arrow, .sword{
    width: 60px;
    height: 60px;
    background-position: center; 
}
.arrow{
    background-image: url('../img/up_arrow.png');
}
.sword{
    background-image: url('../img/sword_arrow.png');
}
.rotate-180{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate-270{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
.rotate-90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg) ;
    
}
.centered-text{
    text-align: center;
}
.flip{
    transform: scaleX(-1);
}
.control-panel{
    background-color: grey;
    min-width: 220px !important;
}